/*Importing Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*End of fonts*/

/*Creating Variables*/
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 49%);
}

/*End of Variables*/

/*General Styling*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    overflow: hidden;
}

body {
background-color: var(--dark-cyan);
}

h1,
p {
    font-family: "Kumbh Sans", sans-serif;
}

h1 {
    font-size: 18px;
    color: var(--very-dark-desaturated-blue)';
}

.contact-stats {
    display: flex;
    width:100%;
    justify-content: space-around;
    border-top: 1px  solid lightgrey;
    padding: 25px 15px;
    text-align: center;
}

.stat-text{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 10px 5px;
    color:var(--very-dark-desaturated-blue);
}

.background-image-bottom{
    position: absolute;
    z-index:-1;
    top:400px;
    left: 70px;
}

.background-image-top{
    position: absolute;
    z-index:-2;
    bottom:400px;
    right: 110px;
}


/*End of General Styling*/

@media only screen and (max-width: 425px) {
    .contact-card {
        display: flex;
        flex-direction: column;
        width: 345px;
        margin: 20vh auto;
        background-color: white;
        border-radius: 15px;
        align-items: center;
    }

    .card-background {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .contact-image-section {
        position: relative;
        margin: 0 auto;
        bottom: 55px;
    }

    .contact-image {
        border: 5px solid white;
        border-radius: 100%;
    }

    .contact-details{
        position: relative;
        bottom: 40px;
    }


    .profile-age {
        color: var(--dark-grayish-blue);
        font-weight: 400;
        padding-left: 5px;
    }

    .profile-location {
        color: var(--dark-grayish-blue);
        text-align: center;
        padding: 10px;

    }


 
    




}